<div class="container">
	<div class="content">
		<div class="content-container">		
			<?php include 'view/data_hora.html'; ?>
			<br>
			<div class="row">
				<div class="jumbotron">
					<h1>Bem Vindo</h1>
					<p>Esse é o teste numero 1, possuindo o CRUD com 3 telas diferentes, cadastro de cliente, cadastro de produto e cadastro de pedido. Aprecie esse teste.</p>
				</div>
				<div class="jumbotron">
					<p><b>OBS:</b> Eu tive apenas 1 dia pra fazer essa tela, se eu tivesse tempo eu iria inserir no WordPress. Desculpe qualquer coisa</p>
				</div>
				<div style="width: 100%; text-align:center;">
					<img style="border-radius: 10px; border: 1px dashed; margin-bottom: 25px; padding: 15px" src="view/img/bemvindo.jpg" title="Seja Bem vindo :D">
				</div>		
			</div>
		</div>
	</div>
</div>