<footer style="background: #222; color: #9d9d9d">&copy; <?php print date('Y'); ?> Arthur Calazans</footer>

		<script src="view/js/ajax.js" type="text/javascript"></script>
		
		<script src="view/js/libs/jquery-1.10.1.min.js" type="text/javascript"></script>
		<script src="view/js/libs/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
		<script src="view/js/libs/bootstrap.min.js" type="text/javascript"></script>

		
		<!-- App JS -->
		<script src="view/js/script.js" type="text/javascript"></script>

		<!-- Plugin JS -->
		<script src="view/js/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="view/js/plugins/datatables/DT_bootstrap.js" type="text/javascript"></script>
		<script src="view/js/plugins/tableCheckable/jquery.tableCheckable.js" type="text/javascript"></script>
		<script src="view/js/plugins/icheck/jquery.icheck.min.js" type="text/javascript"></script>
		<script src="view/js/demos/ui-notifications.js" type="text/javascript"></script>
		<script src="view/js/jquery.mask.min.js" type="text/javascript"></script>
		<script src="view/js/jquery.maskMoney.js" type="text/javascript"></script>
	
		<script type="text/javascript">
			$(function(){
				$("#idpreco").maskMoney({symbol:'R$ ', showSymbol:true, thousands:'.', decimal:',', symbolStay: true});
				$('#idfone').mask("(00) 0000-00009");
			});
			
		</script>
		
		
	</body>
</html>